/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #161616;
}
::-webkit-scrollbar-thumb {
    background: #434649;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #FC690B;
}


/* effect smoth */



html {
    scroll-behavior: smooth;
}

html,body {
    height: 100%;
    position: relative;
}	


/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    color: #fff;
    background: #161616;
    line-height: 1.6; /* Agregado: Ajusta el espaciado entre líneas */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    font-size: 0.9em;
    line-height: 27px;
}
h1 {
    font-weight: 900;
    color: #FC690B;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 2.5em;
}

.btn-primary {
    --bs-btn-bg: #ff702a;
    --bs-btn-border-color: #ff702a;}

  
/* navbar  */
nav {
    padding: 1.5em 2.5em;
    position: relative;
}

.brand {
    font-size: 2em;
    color: #FC690B;
    padding: 0.3em;
    padding-left: 4%;


}
.brand:hover {
    color: #ffffff;
}


/* Estilos para pantallas grandes (escritorio) */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

  }
  
  .menu-items {
    list-style: none;
    padding-right: 4%;
    margin: 0;
  }
  
  .menu-items li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .menu-items a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .menu-items a:hover {
    color: #FC690B;
  }

  .menu-btn {
    display: none;

}



/* Menu */

#menu{
    margin-top: 5%;
}
.title-menu{
    text-align: center;
    font-weight: 400;
    color: #FC690B;

}

.slogan-menu{
    font-size: 60px;
    text-align: center;

}

/*Cards Menu*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1500px;
	margin: auto;
    padding-top: 2%;
}

.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px transparent;
	transition: all 400ms ease-out;
	cursor: default;
    box-shadow: 6px 6px #FC690B;
}
.card:hover{
	box-shadow: 5px 5px 20px transparent;
	transform: translateY(-3%);
}
.card img{
	width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10% 20% 0 20%;


}
.card .contenido-card{
	padding: 15px;
	text-align: center;

}
.card .contenido-card h3{
    color: #161616;
    font-size: 25px;
    font-weight: 700;


}
.card .contenido-card p{
	line-height: 1.8;
	color: #161616;
	font-size: 20px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #FC690B;
	border: 1px solid #FC690B;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #FC690B;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin-Cards*/

/* Service grid */

#service {
    margin-top: 5%;
}

.col{
    margin-top: 3%;
}
.col img{
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10% 20% 0 20%;


}